.map {
  background-color: white;
  width: 500px;
  height: 444px;
  border-color: black;
  display: inherit;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#battle-ground {
  height: 444px;
  width: 500px;
}

.nav {
  display: flex;
  background-color: #282A35;;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navContainer {
  min-width: 100%;
}

.mapContainer {
  display: inherit;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* TANKS */

.tank {
  background: #71784b;
  width: 30px;
  height: 30px;
  margin-left: 130px;
  margin-top: 414px;
  position: absolute;
}

.enemy {
  background: #414b61;
  width: 30px;
  height: 30px;
  margin-left: 330px;
  margin-top: 0;
  position: absolute;
}

.gun {
  background-color: #837f7f;
  width: 10px;
  height: 17px;
  margin: auto;
  margin-top: -3px;
}

.base1 {
  background-color: aqua;
  width: 30px;
  height: 30px;
  margin-left: 235px;
  margin-top: 414px;
  position: absolute
}

.base2 {
  background-color: brown;
  width: 30px;
  height: 30px;
  margin-left: 235px;
  position: absolute;
}

.playerShell {
  background-color: rgb(3, 1, 1);
  width: 8px;
  height: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: auto;
  transition: margin-top 1.1s, margin-left 1.1s;
  transition-timing-function: linear;
  position: absolute;
}

.enemyShell {
  background-color: rgb(3, 1, 1);
  width: 8px;
  height: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: auto;
  transition: margin-top 1s, margin-left 1s;
  transition-timing-function: linear;
  position: absolute;
}

.wall-container {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  height: 16px;
  position: absolute;
}

.wall {
  background-color: rgba(49, 30, 20, 0.763);
  width: 20px;
  height: 20px;
}

.box-container {
  width: 100%;
  height: 91vh;
  background-color: #00000050;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.message-container {
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 188, 188);
}

.message-container h1 {
  text-align: center;
}